<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Driver -->
        <property name="hibernate.connection.driver_class"></property>

        <!-- URL -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/warehouse
        </property>

        <!-- Username / Password -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sa</property>

        <!-- Hibernate options -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->

    </session-factory>
</hibernate-configuration>
