<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Driver -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- URL -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:1435/itp
        </property>

        <!-- Username / Password -->
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">123456</property>

        <!-- Hibernate options -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entities -->

    </session-factory>
</hibernate-configuration>
